{% extends "encyclopedia/layout.html" %}

{% block title %}
    Wiki:Search Result
{% endblock %}

{% block body %}
    <h3>Search Result</h3>
    <hr>
    {% if matches|length > 0 %}
        <ul>
            <p>Files matching the search query '{{q}}'</p>
            {% for match in matches %}
                <li><a href="{% url 'entry' match  %}">{{match}}</a></li>
            {% endfor %}
        </ul>
    {%else %}
        <h4><strong>ERROR</strong> Not Found</h4>
        <p>No file found matching '{{q}}'.</p>
    {% endif %}
{% endblock %}
